@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="navbar navbar-dark px-4">
        <a href="https://github.com/YumeChan-DT/YumeChan" target="_blank" class="ml-md-auto">GitHub Repo</a> &emsp;
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
