<footer class="footer text-muted mt-5">
	<div class="container">

		<div class="row justify-content-between">
			<div class="col-auto">
				<div><strong>Yume-Chan</strong><br /></div>

				<div>
					<ul class="list-inline">
						<li class="list-inline-item"><a target="_blank" href="/swagger">API</a></li>
						<li class="list-inline-item"><a target="_blank" href="https://github.com/YumeChan-DT">GitHub</a></li>
						<li class="list-inline-item"><a target="_blank" href="https://discord.gg/PHWMKc2mth">Discord (NSYS)</a></li>
					</ul>
				</div>
			</div>

			<div class="col-auto">
				Developed by <a href="https://github.com/SakuraIsayeki" target="_blank">Sakura Isayeki</a> <br />
				Powered by <a target="_blank" href="https://nodsoft.net/">Nodsoft Systems</a>
			</div>
		</div>

	</div>
</footer>