@inherits ComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

@using System.Security.Claims;

<AuthorizeView>
	<Authorized>
		<li class="navbar-text text-light me-3">Welcome, @GetUsername().GetAwaiter().GetResult() !</li>
		<li class="nav-item"><NavLink class="nav-link text-white" href="logout">Logout</NavLink></li>
	</Authorized>

	<NotAuthorized>
		<li class="nav-item"><NavLink class="nav-link text-white" href=@($"login?redirectUri={CurrentUri}")>Login</NavLink></li>
	</NotAuthorized>
</AuthorizeView>


@code {
	[Parameter] public string CurrentUri { get; set; }


	public async Task<string> GetUsername()
	{
		AuthenticationState auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		return auth.User.FindFirstValue(ClaimTypes.Name);
	}
}