@*
    The Router component displays whichever component has a @page
    directive matching the current URI.
*@

@using YumeChan.NetRunner.Plugins.Infrastructure.Blazor.Router

@* ReSharper disable once Blazor.EditorRequired *@
<HandoffRouter AppAssembly="@typeof(Program).Assembly">
	<Found Context="routeData">
		<AuthorizeRouteView DefaultLayout="@typeof(MainLayout)" RouteData="@routeData" />
	</Found>

	<NotFound>
		<CascadingAuthenticationState>
			<LayoutView Layout="@typeof(MainLayout)">
				<p>Sorry, there's nothing at this address.</p>
			</LayoutView>
		</CascadingAuthenticationState>
	</NotFound>
</HandoffRouter>

@code {
	protected override bool ShouldRender() => false;



}