@using YumeChan.NetRunner.Plugins.Infrastructure.Blazor.Router
@using YumeChan.Core.Services.Plugins

@inject CommandHandler CommandHandler;

@page "/plugin/{PluginName}/{*PathSlug}"
@page "/p/{PluginName}/{*PathSlug}"

<NestedPluginRouter Plugin="CommandHandler.Plugins.FirstOrDefault(p => p.AssemblyName == PluginName)" RoutePath=@PathSlug>
    <Found Context="routeData">
        <base href=@($"/p/{PluginName}/") />
        
        <CascadingValue Name="baseUri" Value=@($"/p/{PluginName}")>
            <AuthorizeRouteView RouteData="routeData" />
        </CascadingValue>
    </Found>
    
    <NotFound>
        <CascadingAuthenticationState>
            <p>Sorry, there's nothing at this address.</p>
        </CascadingAuthenticationState>
    </NotFound>
</NestedPluginRouter>

@code {
	[Parameter] public string PluginName { get; set; }
	[Parameter] public string PathSlug { get; set; }
}