@page "/BotControls"
@using Nodsoft.YumeChan.NetRunner.Controls;

<h1>Bot Controls</h1>
<br />
<br />


<button class="btn btn-success" onclick="@YumeCoreController.StartBotButton">Start Bot Service</button>

