@page "/BotControls"
@using static Nodsoft.YumeChan.NetRunner.Controls.YumeCoreController;

<h1>Bot Controls</h1>
<br />
<br />


<div class=@botStatusAlert[0] role="alert">@botStatusAlert[1]</div>

<button class="btn btn-success" onclick="@StartBotButton">Start Bot Service</button>

@functions 
{
    private string[] botStatusAlert = DisplayStatusAlert().Result;
}

