@page "/BotPlugins"
@attribute [Authorize]
@inject Nodsoft.YumeChan.Core.YumeCore BotService

@using Nodsoft.YumeChan.PluginBase;

<h1>Plugins</h1>
<br />
<h3>Currently Loaded : @BotService.Plugins.Count Plugins</h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Plugin Name</th>
            <th>Version</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IPlugin pluginManifest in BotService.Plugins)
        {
            <tr>
                <td>@pluginManifest.PluginDisplayName</td>
                <td>@pluginManifest.PluginVersion</td>
                <td>@(pluginManifest.PluginLoaded ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>