@page "/ServersExplorer"
@attribute [Authorize]

@using DSharpPlus.Entities
@using Nodsoft.YumeChan.Core;

@inject YumeCore YumeCore

<h1>Servers List</h1>

<br />

<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>User Count</th>
		</tr>
	</thead>
	<tbody>
		@foreach (DiscordGuild guild in GuildsList.Values)
		{
			<tr>
				<td>@guild.Id</td>
				<td>@guild.Name</td>
				<td>@guild.MemberCount</td>
			</tr>
		}
	</tbody>
</table>

@code
{
	public IReadOnlyDictionary<ulong, DiscordGuild> GuildsList => YumeCore.Client.Guilds;
}
